@model MonitoriaAgentes.Models.Monitoria

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Monitoria</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Assunto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Assunto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataDaMonitoria)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataDaMonitoria)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeAgente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeAgente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MatriculaAgente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MatriculaAgente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AD_Agente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AD_Agente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeSupervisor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeSupervisor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descricao)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="MonitoriaId" />
        <input type="submit" value="Deletar" class="btn btn-danger" /> |
        <a asp-action="Index">Voltar</a>
    </form>
</div>
