@model IEnumerable<MonitoriaAgentes.Models.Monitoria>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Lançar Monitoria</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Assunto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataDaMonitoria)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NomeAgente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MatriculaAgente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AD_Agente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NomeSupervisor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Assunto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataDaMonitoria)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomeAgente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MatriculaAgente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AD_Agente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomeSupervisor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MonitoriaId">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.MonitoriaId">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.MonitoriaId">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
